html {
    font-size: 62.5%;
}

/* LANDING PAGE INTRO TEXT */

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

.intro-text {
    margin: 3rem auto;
    color: white;
}

/* LANDING PAGE */

.LandingPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #da5151 , #e02727);

}

/* LANDING PAGE FORM */

.LandingPage form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.LandingPage form input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin: 10px 0;
    padding: 2px 0;
}

.LandingPage form input::placeholder {
    color: white;
}

.LandingPage form button {
    background: white;
    border: none;
    padding: 10px 10px;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    transition: all ease .3s;
}

.LandingPage form button:hover {
    background: rgb(238, 238, 238);
}

/* */



/* */



/* */



/* */



/* */



/* */